.SM {
  padding: 5px 16px;
  background: #66cc99;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
}
.SM:hover {
  padding: 5px 16px;
  background: #00af72;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
}
.CL {
  padding: 5px 16px;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
}
.CL:hover {
  padding: 5px 16px;
  background-color: #a1a1a1;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
}

.DL {
  padding: 5px 16px;
  background: #ff8977;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
}
.DL:hover {
  padding: 5px 16px;
  background:  #ff5f46;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
}
.ED {
  padding: 5px 16px;
  background: #93b5ff;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
}
.ED:hover {
  padding: 5px 16px;
  background:  #6293ff;
  border: 2px solid #001858;
  border-radius: 10px;
  color: #001858;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: Roboto;
}

