.Topic-0 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
  line-height: 3.625rem; /* 58px / 16px = 3.625rem */
  color: #001858;
}

.Topic-1 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem; /* 32px / 16px = 2rem */
  color: #001858;
}

.Topic-3 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem; /* 16px / 16px = 1rem */
  line-height: 1.625rem; /* 26px / 16px = 1.625rem */
  color: #001858;
}

.Topic {
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #001858;
}
.Lk {
  border: 2px solid #e8e9eb;
}
/* ViewPet.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.confirmation-box p {
  margin: 0 0 20px;
}

.confirmation-box button {
  margin: 0 10px;
}
